.roxo{ background-color: #563d7c !important;}

.roxo a, .roxo .title { color: #cbbde2 !important;}

.roxo a:hover{ color: #fff !important;}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff!important;
    background-color: #563d7c !important;
}
.nav-sec .nav-link.active{
    background-color: #39294f !important;
}
.nav-sec{
    border-bottom: 1px solid #dee2e6!important;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
}
.nav-sec span, p{
    padding: .5rem 0rem .5rem 0rem;
    font-size: 1.05rem;
    margin: 0rem;
}
.nav-sec span{ color: #b8b4b4 !important;}

a{ color: #563d7c !important;}

.foo { height:100vh;/* border-right: thick dotted black; */}

.progress-bar-size { height: 15px; width: 75%; vertical-align: middle;}

.xp {color: #28a745; margin-bottom: 0rem;}
.pb {color: goldenrod}
