body{ padding-top: 55px; }

footer{
    color:#8975a8;
    background-color: #f2f2f2;
    width:  100%;
    margin-top:25px;
}
a:hover{color: #00d1b2;}

.tab-pane-tela{ min-height: 83vh;}

@media (min-width: 992px) { 
    .menu-lateral {
        height:91vh;
        position: fixed;}
    .tela-geral { padding-top: 9px; }
    .inbox_people { width: 20% !important;}
    .tela-dir { width: 80% !important;}
    .chat_list { padding: 18px 16px 10px !important;}
    .chat_ib h5{ margin:0 0 8px 0;}
    .chat_img-2 { display: none !important; text-align: center;}
    .chat_img-1 { display: block !important;}
    .chat_ib { padding: 0 0 0 15px !important;}
    .show-moblie{display:none;}
    .none-mobile{display:flex !important;}
    .coment_img{width: 4% !important;}
    .received_withd_msg {padding: 0px !important; width: 57% !important;}
    .mesgs { padding: 30px 15px 0px 25px  !important;}
    .inbox_chat { height: 95.5% !important;}

}

.none-mobile{display:none;}
.coment_img{width: 15%;}

.roxo, .btn-roxo, .icon-tarefa{ background-color: #563d7c !important;}
.btn-roxo:hover,.icon-tarefa:hover { background-color: #2f2143 !important;}
.roxo a, .roxo .title,.roxo span, .btn-roxo, .icon-tarefa { color: #cbbde2 !important;}
.roxo a:hover, .roxo span:hover,.btn-roxo:hover, .icon-tarefa:hover{ color: #fff !important;}
a, .nome-tarefa{ color: #563d7c;}
#nav-tab-atv .nav-link:hover,#nav-tab-atv .nav-link .active{color: #2f2143 !important;}


.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff!important;
    background-color: #563d7c !important;
}
.nav-sec .nav-link.active{background-color: #39294f !important;}
.nav-sec{
    border-bottom: 1px solid #dee2e6!important;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
}
.nav-sec span, p{
    padding: .5rem 0rem .5rem 0rem;
    font-size: 1.05rem;
    margin: 0rem;
}
.nav-sec span{ color: #b8b4b4 !important;}

.menu-lateral {background-color: #f2f2f2; border-right: 1px solid #c4c4c4;}

.escudo-elo-sm {height: 20px; width: 20px;}
.escudo-elo-md {height: 50px; width: 50px; margin-bottom: 15px;}

.progress-bar-size { height: 7px; vertical-align: middle;}

.xp {color: gold !important; margin-bottom: 0rem !important; } /* #28a745 */
.pb {color: goldenrod !important; text-align: center !important;}
.nivel {color: #28a745 !important; text-align: center !important;}
.elo-equipe-turma{ text-align: center !important; }

.atv{color: darkgrey;}
.linha-atv{border-bottom: 1px solid #dee2e6;}
.linha-atv span{ margin-left: 5px;}
.caixa-atv{
    border: 1px solid #dee2e6;
    padding-top: 5px;padding-right: 10px;padding-bottom: 10px;padding-left: 10px;
    border-radius: 5px;
    max-height: 200px;  
}

.area-heroi{   
    width: 100%;
    height: 80vh;
    background-image: url('/img/floresta.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.icon-sm {height: 16.8px; width: 20px; color: #563d7c !important;}

.aba-equip{
    padding-top: 15px;padding-right: 10px;padding-bottom: 10px;padding-left: 10px;
    height: 200px; 
}

.grid-itens {
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-gap: 0.5rem;
}


.item-img {
width: 60%;
/* height: 60%; */
object-fit: cover;
display: block;
margin-top: 8px;
margin-bottom: 8px;
margin-left: auto;
margin-right: auto;
}

.equip-item {
grid-column-start: 1;
grid-column-end: 1;
grid-row-start: 1;
grid-row-end: 1;

/** Alternative Syntax **/
/* grid-column: 1 / span 2;  */
/* grid-row: 1 / span 2; */
}
.caixa-missao {
display: flex;
align-items: center; /* centraliza horizontalmente */
justify-content: center; /* cetraliza verticalmente */
padding: 0px;
}
.area-missao{   
    width: 100%;
    height: 90vh;
    background-image: url('/img/mapa-missao.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.item-missao{
    position: absolute;
    align-items: center; /* centraliza horizontalmente */
    justify-content: center; /* cetraliza verticalmente */

}

.item-missao .icon-tarefa{
    height: 2.8rem; width: 2.8rem;
    font-size: 1.5rem;
    
}

.item-missao .nome-tarefa{
    font-size: 0.8rem;
    width: 3.5rem;
    word-break: break-word;
}

.area-fase-chefao{   
    width: 100%;
    height: 80vh;
    background-image: url('/img/floresta.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #00d1b2;
    background-color: #00d1b2;
}
.barra-hp-fase{ 
    width: 100%;
    background-color: #ffffffb8;
    position: absolute;
    top: 76%;
    font-size: 18px;
}

.img-hp{
    height: 75px; width: 75px;
}
.centralizar{position: absolute; left: 50%; top: 50%; transform: translateX(-50%);}
.navbar-nav li a, .navbar-brand{
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;

}