.roxo{
    background-color: #563d7c !important;
}
.roxo a, .roxo .title {
    color: #cbbde2 !important;
}
.roxo a:hover{
    color: #fff !important;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff!important;
    background-color: #563d7c !important;
}

a{
    color: #563d7c !important;
}

.foo {
    /* border-right: thick dotted black; */
    height:100vh; 
}
